/*main classes*/
.Flex{
    display: flex;
}
.j-b{
    justify-content: space-between;
}
.a-c{
    align-items: center;
}
/*cursor pointer for button*/
.mouse{
    cursor: pointer;
}
header .header-box{
    height: 50px;
    background-color: black;
    padding: 0px 60px;
}
/*icons style*/
.ubisoft-image img , .user img{
    height: 40px;
}
.first-navigation-list:not(:first-child) , .nav_list_2:not(:first-child){
    margin-left: 30px;
}
.first-navigation-list:hover a{
    color: #40c1a6;
}
.first-navigation-list a , .nav_list_2 a{
    font-size: 16px;
    font-weight:normal;
    color: white;
    transition: all 0.3s;
}
.nav_list_2{
    transition: all 0.5s;
}
.nav_list_2:hover{
    transform: scale(1.1);
}
/*2*/
.navigation-2-container{
    height: 70px;
    background-image: url("../image/banner.png");
    background-size: 100% 70px;
    filter: drop-shadow(0 10px 10px rgba(0,0,0,.85));
    padding-left: 40px;
}
.img-wrapper img{
    height: 45px;
    margin-right: 40px;
}
.right-cont button{
    background:none;
    font-size: 20px;
    color: white;
    width: 170px;
    height: 65px;
    transition: all 0.2s;
}
.right-cont button:hover{
    background: #40c1a6;
}