/*main classes*/
.Flex{
    display: flex;
}
.j-b{
    justify-content: space-between;
}
.a-c{
    align-items: center;
}
/*cursor pointer for button*/
.mouse{
    cursor: pointer;
}
header .header-box{
    height: 50px;
    background-color: black;
    padding: 0px 60px;
}
/*icons style*/
.ubisoft-image img , .user img{
    height: 40px;
}
.first-navigation-list:not(:first-child){
    margin-left: 30px;
}
.first-navigation-list a{
    font-size: 16px;
    font-weight:normal;
    color: white;
}